<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/error_page.css">
    <link rel="icon" type="icon" href="./static/icon/bookonline-icon.ico">
    <title>Book Online | 401 Unauthorized</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            width: 100vw;
            height: 100vh;
        }
        #login-table {
            margin: auto;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div id="main">
    	<div class="fof">
        	<h1>401 Unauthorized</h1>
    	</div>
    </div>
</body>
</html>