<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Book Online</title>
    <link rel="stylesheet" type="text/css" href="./static/css/common.css">
    <link rel="icon" type="icon" href="./static/icon/bookonline-icon.ico">
</head>
<body>
    <h1 style="font-size: 60px; color: red; margin-left: auto; margin-right: auto; margin-top: 25px;">BOOK ONLINE</h1>
    <div class="container" style="display: flex; flex-direction: column;">
        <h1 style="font-size: 40px; color: rgb(10, 89, 207); margin-left: auto; margin-right: auto; margin-bottom: 35px;">LOGIN FORM</h1>
        <table style="width: 500px; margin: auto;">
            <tr>
                <td style="font-weight: 600; font-size: 30px;">Email</td>
                <td><input name="email" id="email" style="width: 100%; height: 30px; font-size: 20px; border-radius: 6px; padding-left: 5px;"/></td>
            </tr>
            <tr style="height: 50px;">
                <td style="font-weight: 600; font-size: 30px;">Password</td>
                <td><input type="password" name="password" id="password" style="width: 100%; height: 30px; font-size: 20px; border-radius: 6px; padding-left: 5px;"/></td>
            </tr>
        </table>
        <button id="btn-login" style="
        width: 100px; height: 40px; margin: auto; margin-top: 10px; font-weight: 600; cursor: pointer; border-radius: 6px; outline: none;">
            LOGIN
        </button>
        <a href="#">Đăng kí</a><br/>
        <a href="#">Quên mật khẩu?</a>
    </div>
    <script src="./static/js/utils.js"></script>
    <script src="./static/js/login.js"></script>
</body>
</html>